{% extends 'blog/base.html' %}

{% block content %}
<h1>Signup</h1>

<form method="POST" >
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        {% if "password" in field.name %}
            <label for="exampleInputEmail1" class="form-label">{{field.label_tag}}</label>
            <input type="password" name="{{field.name}}" class="form-control" aria-describedby="emailHelp">        
            {% if field.errors %}
                {{ field.errors }}    
            {% endif %}
        {% else %}
            <label for="exampleInputEmail1" class="form-label">{{field.label_tag}}</label>
            <input type="{{field.name}}" name="{{field.name}}" class="form-control" aria-describedby="emailHelp">
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-success" > Signup </button>
</form>
{% endblock %}